* {
  box-sizing: border-box;
}
Header {
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  text-align: center;
  padding: 6px;
  clear: both;
}
.wrapper {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
.aliencat {
  width: 250px;
  height: 200px;
  float: left;
  background-color: darkmagenta;
}
.box-set {
  background-color: darkcyan;
  margin: 0 auto;
}
.column {
  padding: 10px;
  height: 200px;
}
.left {
  background-color: cadetblue;
  position: relative;
  float: left;
}
.right {
  float: right;
  position: relative;
  background-color: darkkhaki;
}
